#services {
	@include span-columns(12 of 12);
	padding: 10rem 0 11rem;
	background-color: #fff;	
	div.sectionHeader {
		@include span-columns(12 of 12);
	}	
	p.description {
		@include span-columns(7 of 12);
	}
	ul.featuredBlogs {
		display: block;
		margin: 0 auto;
		padding-left:4rem;
	}
	li {
		@include span-columns(4 of 12);
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding-top: 6rem;
	}	
	img {
		@include span-columns(1.2 of 4);
	}
	.servicesText {
		@include span-columns(2.8 of 4);
	}	
	h3 {
		padding-bottom: 1rem;
	}
}

//******************************
//Media Queries 
//******************************
@media (max-width: 600px) {
	#services {
		p.description {
			@include span-columns(6 of 6);
		}
		li {
		@include span-columns(6 of 12);
		margin: 0;
		display: flex;
		align-items: center;
		}	
		p.services {
			padding-right: 0;
		}
	}
}

@media (max-width: 320px) {
	#services {
		li {
		@include span-columns(10 of 12);
		@include shift(1 of 12);
		padding-top: 2rem;
		display: flex;
		align-items: center;
		}	
	}
}
