#subscribe {
	@include span-columns(12 of 12);
	padding: 7rem 0 8rem;
	background-color: #eee;
	p.formHeading {
		font-size: 2.4rem;
		padding-bottom: 2rem;
		color: #aaa;
	}
	p.formHeading,
	form {
		@include span-columns(8 of 12);
		@include shift(2 of 12);
		-webkit-appearance:none;
		position: relative;
	}
	input {
		margin-right: 0;
		color: grey;
		font-size: 1.552rem;
		line-height: 1.804;
		transform: scaleY(1.0012);
		border: none;
		border: 2px solid #eee;
		border-radius: 6px;
		padding: 1.2rem 0 1.2rem 5rem;
	}
	input[type=email] {
		@include span-columns(6 of 8);
	}
	input[type=submit] {
		@include span-columns(2 of  8);
		color:#fff;
		margin: 0;
		padding: 1.2rem 0;
		background-color: $green;
		&:hover, 
		&:active {
			background-color: $greenHover;
		}
	}
	p.formDescription {
		@include span-columns(5.5 of 12);
		font-size: 1.466rem;
		padding-top:1rem;
		line-height: 1.637;
		color: #9ba8b1;
	}
	img {
		position: absolute;
		top: 2rem;
		left: 2rem;
		z-index: 3;
		width: 1.5rem;
	}
}

//******************************
// Media Queries 
//******************************

@media (max-width: 600px) {
	#subscribe {
		p.formHeading,
		form {
			@include span-columns(12 of 12);
			margin: 0;
		}
		p.formDescription {
			@include span-columns(8 of 12);
		}
		input[type=email] {
			@include span-columns(8 of 12);
			margin: 0;
		}
		input[type=submit] {
			@include span-columns(4 of  12);
			margin: 0;
		}
	}
}

@media (max-width: 320px) {
	#subscribe {
		p.formDescription {
			@include span-columns(12 of 12);
		}

	}
}
